{#引入母版#}
{% extends "table_base.html" %}
{#设置title#}
{% block title %} 登录 {% endblock %}
{% block other_head %}
    <link href="/static/vendor/vuesax/dist/vuesax.css" rel="stylesheet">
    <link href='/static/vendor/boxicons/css/boxicons.min.css' rel='stylesheet'>
    <link href="/static/style/login.css" rel="stylesheet">
{% endblock %}

{# HTML body内容 #}
{% block body %}
    <div id="login-form" style="margin-top: 20%;">
        <template>
            <el-row type="flex" justify="center" align="middle">
                <el-card type="flex" style="width: 500px" shadow="hover" align="middle">
                    <h3>登录</h3>
                    <div>
                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <vs-input label-placeholder="用户名" v-model="username" autocomplete="off">
                                <template #icon>
                                    <i class='bx bx-user'></i>
                                </template>
                            </vs-input>

                        </el-row>
                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <vs-input label-placeholder="密码" v-model="password" type="password"
                                      autocomplete="off">
                                <template #icon>
                                    <i class='bx bx-lock-open-alt'></i>
                                </template>
                            </vs-input>

                        </el-row>
                    </div>
                    <div>
                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <el-button size="small" round plain @click="submit" :loading="loading">登 录</el-button>
                        </el-row>
                    </div>
                </el-card>
            </el-row>
        </template>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/vendor/axios/dist/axios.min.js"></script>
    <script src="/static/vendor/vuesax/dist/vuesax.js"></script>
    <script>
        var loginForm = {
            data() {
                return {
                    username: '',
                    password: '',
                    loading: false,
                }
            },
            methods: {
                submit() {
                    this.loading = true;
                    axios.post('/login', {username: this.username, password: this.password})
                        .then(response => {
                            console.log(response)
                            if (response.data.outcome) {
                                window.location.href = response.data.next;
                            } else {
                                this.$message.error('用户名密码无法匹配');
                            }
                            this.loading = false;
                        })
                },
            },
            mounted() {
            }
        }
        var form = Vue.extend(loginForm);

        //这里是vue加载点html的id位置
        new form().$mount('#login-form')
    </script>

{% endblock %}