{#引入母版#}
{% extends "table_base.html" %}
{#设置title#}
{% block title %} 上报单病种 {% endblock %}
{% block other_head %}
    <link href="/static/vendor/vuesax/dist/vuesax.css" rel="stylesheet">
    <link href='/static/vendor/boxicons/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{# HTML body内容 #}
{% block body %}
    <div id="report">
        <el-container>
            <el-header style="text-align: center; font-size: 12px; background-color: #545c64">
            </el-header>
        </el-container>
        <el-container>
            <h1></h1>
            <el-main style="height: calc(100vh - 120px); max-height:calc(100vh - 120px); scroll-behavior: smooth">

                <el-select v-model="value" filterable placeholder="请选择" style="margin-bottom: 20px" @change="selected(val)">
                    <el-option
                        v-for="option in options"
                        :key="option.key"
                        :value="option.value"
                        :label="option.key"
                    ></el-option>
                </el-select>
                {% set a = namespace(value=1) %}
                {% set b = namespace(value=1) %}

                <el-tabs tab-position="left">
                    {# 每个大病种类，这里的a，b用来定位图片地址 #}
                    {% for class in structure %}

                        <el-tab-pane label="{{ class }}">
                            {# 每个小病种类 #}

                            {# 每行4个 #}
                            {% for items in grouper(4, structure[class], {}) %}
                                <el-row :gutter="20" style="margin-bottom: 30px">
                                    {% for DictItem in items %}
                                        <el-col :span="6" style="border-radius: 4px;">
                                            <vs-card v-if="'{{ DictItem|length }}'!='0'">
                                                <template #title>
                                                    <h3>{{ DictItem|first }}</h3>
                                                </template>
                                                <template #img>
                                                    <img src="/static/image/report/{{ a.value }}_{{ b.value }}.png"
                                                         alt=""
                                                         style="width:100px; height:100px">
                                                </template>
                                                <template #text>
                                                    <p>
                                                    </p>
                                                </template>
                                                <template #interactions>
                                                    {% if sbm %}
                                                        <vs-button class="btn-chat" href="/report/{{ DictItem[DictItem|first] }}?sbm={{ sbm }}">
                                                            <template #animate>
                                                                <i class='bx bx-upload'></i>
                                                            </template>
                                                            <span class="span">上 报</span>

                                                        </vs-button>
                                                    {% else %}
                                                        {# 无sbm上报 #}
                                                        <vs-button class="btn-chat" href="/report/{{ DictItem[DictItem|first] }}">
                                                        <template #animate>
                                                            <i class='bx bx-upload'></i>
                                                        </template>
                                                        <span class="span">上 报</span>
                                                    {% endif %}
                                                    </vs-button>
                                                </template>
                                            </vs-card>
                                        </el-col>

                                        {% set b.value = b.value + 1 %}
                                    {% endfor %}
                                </el-row>


                            {% endfor %}

                        </el-tab-pane>
                        {% set a.value = a.value + 1 %}
                        {% set b.value = 1 %}
                    {% endfor %}
                </el-tabs>
            </el-main>

        </el-container>

        <el-footer style="text-align: center; font-size: 12px; background-color: rgba(84,92,100,0.8)">
        </el-footer>
    </div>
{% endblock %}

{% block script %}
    <script>
        let row_options = {{ dictValues(structure)|tojson }};
        const sbm = {{ sbm }};
    </script>
    <script src="/static/vendor/vuesax/dist/vuesax.min.js"></script>
    <script src="/static/js/report.js"></script>
{% endblock %}