{#引入母版#}
{% extends "admin_base.html" %}
{#设置title#}
{% block title %} 更新用户密码 {% endblock %}

{% block other_head %}
    <link href="/static/vendor/vuesax/dist/vuesax.css" rel="stylesheet">
    <link href='/static/vendor/boxicons/css/boxicons.min.css' rel='stylesheet'>
    <link href="/static/style/login.css" rel="stylesheet">
{% endblock %}

{# HTML body内容 #}
{% block body %}
    <div style="margin-top: 20%;">
        <template>
            <el-row type="flex" justify="center" align="middle">
                <el-card type="flex" style="width: 500px; border-radius: 10px" shadow="hover" align="middle">
                    <h3>更新用户密码</h3>
                    <div>
                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <el-input placeholder="用户名" v-model="username" autocomplete="off" :disabled="validate"
                                      style="width: 75%; border-radius: 10px">
                                <template slot="prepend">
                                    <i class='bx bx-user'></i>
                                </template>
                            </el-input>

                        </el-row>

                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <el-input placeholder="姓名" v-model="xm" autocomplete="off" :disabled="validate"
                                      style="width: 75%">
                                <template slot="prepend">
                                    <i class='bx bx-user-circle'></i>
                                </template>
                            </el-input>

                        </el-row>

                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <el-select placeholder="科室" v-model="major"
                                       autocomplete="off"
                                       :disabled="validate"
                                       style="width: 75%"
                            >
                                <el-option
                                        v-for="item in majorSelection"
                                        :key="item.value"
                                        :label="item.value"
                                        :value="item.value"
                                >

                                </el-option>

                            </el-select>

                        </el-row>

                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px">
                            <el-input placeholder="新密码" v-model="new_password"
                                      autocomplete="off"
                                      style="width: 75%"
                                      v-if="validate"
                            >

                                </el-option>

                            </el-input>

                        </el-row>
                    </div>
                    <div>
                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px" v-if="!validate">
                            <el-button size="small" round plain @click="searchUser" :loading="loading">搜 索</el-button>
                        </el-row>

                        <el-row type="flex" justify="center" align="middle" style="margin-top: 25px" v-if="validate">
                            <el-button size="small" round plain @click="updatePwd" :loading="loading">更 新</el-button>
                        </el-row>
                    </div>
                </el-card>
            </el-row>
        </template>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/vendor/vuesax/dist/vuesax.js"></script>
    <script>
        var loginForm = {
            data() {
                return {
                    username: '',
                    major: '',
                    xm: '',
                    new_password: '',
                    loading: false,
                    selection: ['产科二病区', '产科三病区', '产科一病区', '创伤显微手外科', '耳鼻咽喉头颈科', '风湿免疫科', '妇科二区', '妇科一区', '肝胆胰脾外科', '关节·运动医学外科', '国际医疗部', '呼吸内科', '急诊病房', '急诊监护病房', '脊柱外科', '结直肠·肛门外科', '康复医学科', '口腔颌面外科住院', '临床肿瘤中心肿瘤内科二区', '临床肿瘤中心肿瘤内科一区', '颅脑肿瘤·创伤·功能神经外科', '泌尿外二科', '泌尿外一科', '脑血管病·脊髓神经外科', '内分泌代谢科', '内分泌代谢科干部病区·老年内分泌代谢科', '皮肤性病科', '普通介入诊疗', '全科医学科', '乳腺甲状腺外科', '神经内科', '神经内科干部病区·老年神经内科', '肾内科', '睡眠医学科', '胃肠·疝·肠瘘外科', '消化内科', '小儿科', '小儿外科', '新生儿_重症科室', '心胸血管外科', '心胸血管外科监护单元', '心血管内科', '心血管内科干部病区·老年心血管内科', '胸部外科', '血液内科', '眼科', '移植科', '中医科', '肿瘤放疗', '重症医学科二区', '重症医学科三病区', '重症医学科一区'],
                    majorSelection: [],
                    validate: false,

                    activeIndex: "2"
                }
            },
            methods: {
                searchUser() {
                    this.loading = true;
                    if (this.username === '' || this.major === '' || this.xm === '') {
                        this.$message.error('请输入用户名，科室，姓名以查找');
                        this.loading = false;


                    } else {
                        axios.post('/admin/searchUser', {username: this.username, major: this.major, xm: this.xm})
                            .then(response => {
                                console.log(response)

                                if (response.data.data) {
                                    this.$message.success('用户名匹配');
                                    this.validate = true;
                                } else {
                                    this.$message.error('用户名无法匹配');
                                }
                                this.loading = false;
                            })
                    }

                },
                updatePwd() {
                    axios.post('/updatepwd', {
                        username: this.username,
                        major: this.major,
                        xm: this.xm,
                        new_password: this.new_password
                    })
                        .then(response => {
                            console.log(response)

                            if (response.data.data) {
                                this.$message.success(response.data.msg);
                                this.validate = true;
                            } else {
                                this.$message.error(response.data.msg);
                            }
                            this.loading = false;
                        })
                },
                 handleSelect(){

                },

            },
            mounted() {
                for (let item of this.selection) {
                    this.majorSelection.push({value: item, label: item});
                }
            }
        }

        Vue.options.delimiters = ['{*', '*}'];
        var form = Vue.extend(loginForm);

        //这里是vue加载点html的id位置
        new form().$mount('#admin_main')
    </script>

{% endblock %}